

	.banner {
		background-color: #7D25C1;
	}

	header {
		outline: var(--border-dark);
		box-shadow: var(--shadow-lm);
	}

	.icon.verified {
		background-image: url('../design-system/images/website/lm-safe.png');
	}

	.icon.sec {
		background-image: url('../design-system/images/website/lm-sec.png');
	}

	.icon.open {
		background-image: url('../design-system/images/website/lm-contrib.png');
	}

	.icon.proj {
		background-image: url('../design-system/images/website/lm-project.png');
	}

	.icon.gift {
		background-image: url('../design-system/images/website/lm-donor.png');
	}

#hardware img {
	max-width: 480px;
	display: none;
} 

header {
	width: fit-content;
	margin: 1rem auto 0 auto;
	border-radius: 10rem;
}

header .wrapper {
	padding: 0 .5rem;
}

header .logo {
	margin: 0 2rem 0 .75rem;
}

nav .btn {
	margin: var(--spacing-small) 0 var(--spacing-small) var(--spacing-xsmall) !important;
}

.intro h2 {
	font-family: "Sans Bold", sans-serif;
	width: 60%;
}

h2, h3, h4 {
	font-family: "Sans Bold", sans-serif;
}

h2, h3, h4 {
	line-height: var(--line-height-heading) !important;
}

/*nav .btn {
	margin-top: calc(var(--spacing-small) * 1.25);
	margin-bottom: calc(var(--spacing-small) * 1.25);
	font-size: calc(var(--font-size-xsmall) * 1.125);
}*/

header nav a {
	font-size: calc(var(--font-size-xsmall) * 1.125);
}

nav .btnLrg {
	padding: calc(var(--spacing-small) * 1.5) var(--spacing-base) !important;
}

.card img {
	justify-self: center;
	margin-top: 0;
	width: 120px;
	height: 120px;
}

.card .description {
	padding-top: var(--spacing-large) !important;
	padding-bottom: var(--spacing-large) !important;
}

#hardware {
    background-image: url('../design-system/images/website/personal-server-bg.jpg');
    background-size: cover;
    background-position-y: center;
    background-position-x: left;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    position: relative; /* This ensures that the pseudo-element is positioned relative to this container */
}

#hardware::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(125, 37, 193, .25); /* Adjust color and opacity */
    z-index: 1;
	  filter: brightness(130%);
}

#hardware > * {
    position: relative;
    z-index: 2;
}

#hardware .featureGroup .description,
#hardware .featureGroup {
	align-items: start;
	text-align: left;
	justify-content: start;
}

#hardware .featureGroup {
	width: fit-content;
	padding: 2.5rem 1.5rem;
	border-radius: .5rem;
	backdrop-filter: blur(1rem);
	background-color: rgba(255,255,255,.825);
	box-shadow: 5px 5px 0 0 rgba(125, 37, 193, .5);
	border: 2px solid rgba(125,37,193,1);
}

#hardware .featureGroup .description .icon {
	align-self: initial !important;
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {
	.card .description {
		align-items: center;
		text-align: center;
		width: 66%;
	}
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {
	.card .description {
		width: 90%;
	}
}

@media only screen and (max-width: 480px) {

}
