@media (prefers-color-scheme: light) {
  
}

/*@media (prefers-color-scheme: dark) {
  .badge {
    border: var(--border-light);
    background-color: var(--color-shade-dm);
  }
}*/

.badge {
  padding: var(--spacing-xsmall) var(--spacing-small);
  font-size: calc(var(--font-size-xsmall) * 1) !important;
  letter-spacing: var(--kern-medium);
  border-radius: var(--radius-round);
  width: fit-content !important;
  display: flex;
  font-family: 'Sans Bold';
}

.badge {
    border: var(--border-dark);
/*    border-color: rgba(119, 19, 179, 1);*/
    background-color: white;
  }

.intro .badge {
  margin-bottom: 1.5rem !important;
}

.badgeContainer {
  display: flex;
  flex-direction: row;
}

.badgeContainer .badge {
  margin-right: var(--spacing-xsmall);
}
